<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <param name="robot_description" command="$(find xacro)/xacro.py '$(find mrobot)/urdf/mrobot.xacro'"/>

  <!-- send fake joint values -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="true"/>
  </node>

  <!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- <node pkg="tf" type="static_transform_publisher" name="camera_base" args="0 0.0 0.0 -1.58 0.0 -1.58  kinect_sensor_link camera_depth 25" /> -->
  <!-- Show in Rviz   -->
  <!-- <arg name="rvizconfig" default="$(find mrobot)/config/mrobot.rviz" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" /> -->
  <!-- <arg name="rvizconfig" default="$(find mrobot)/config/mrobot.rviz" /> -->
  <node name="rviz" pkg="rviz" type="rviz" />

</launch>


